@import url('http://fonts.cdnfonts.com/css/gotham');
/* visualizzazione mobile */
@media screen and (max-width: 552px) {
    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'gotham';
    }
    header{
        display: flex;
        justify-content: flex-start;
        position: fixed;
        z-index: 2;
        width: 35px;
        min-height:calc(100% - 70px);
        background-color: #000;
    }
    nav ul li{
        list-style-type: none;
    }
    header nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
    }
    nav ul img,
    .button-upgrade:hover{
        cursor: pointer;
    }
    .mini-logo{
        display: flex;
        align-self: center;
        width: 20px;
        margin-top: 5px;
    }
    .img-nav{
        width: 18px;
        margin-top: 10px;
    }
    .img-download{
        width: 12px;
        margin-bottom: 10px;
        margin-right: 2px;
    }
    .profile-nav{
        width: 20px;
    }
    .icon-profile{
        width: 22px;
        height: 22px;
        line-height: 25px;
        background-color: grey;
        border-radius: 100%;
        text-align: center;
        overflow: hidden;
        margin-bottom: 3px;
    }  
    .bot-nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .top-nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
/* sezione top upgrade */
    .upgrade{
        position: fixed;
        top: 0%;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 35px);
        min-height: 80px;
        background-color: #1c3b4dea;
    }
    .button-upgrade{
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 20px;
        margin-right: 5px;
    }
/* sezione main */
    .container{
        position: absolute;
        top: 0%;
        right: 0%;
        z-index: -1;
        width: calc(100% - 35px);
        min-height: 100vh;
        background-color:#121212;
    }
    .categorie{
        position: relative;
        top: 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .categorie ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .categorie ul li{
        margin: 10px 10px ;
        font-size: 12px;
        color: gray;
        font-weight: bold;
    }
/* sezione playlist */
    .container-playlist{
        position: relative;
        top: 120px;
        right: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        min-height: 100vh;
        margin: 0 auto;
    }
    .playlist img{
        width: 200px;
    }
    .playlist{
        text-align: center;
    }
    .recently{
        position: relative;
        top: 100px;
        width: calc(100% - 35px);
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        color: #fff
    }
    .title{
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        color: #fff
    }
    .author{
        font-size: 10px;
        color: gray;
        margin: 10px 0;
    }

/* nav musica */
    .nav-musica{
        display: flex;
        align-content: center;
        position: fixed;
        bottom: 0%;
        left: 0%;
        z-index: 3;
        width: 100%;
        min-height: 70px;
        background-color: #181818;
    }

}